*{
    margin:0px;
    padding:0px;
}
.navbar {
    overflow: hidden;
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
    /* Fixed Top */
    position: fixed;
    top: 0;
    width: 100%;
    /* Fixed Top */
}

.navbar a {
    float: left;
    font-size: 1.15rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Microsoft JhengHei;
}

.dropdown {
    float: left;
    overflow: hidden;
    font-family:Microsoft JhengHei;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 1.15rem; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: white;
}

.show {
    display: block;
}

#section-main
{
    margin-left:15px;
    margin-top:5px;
    line-height:35px;
}

#section-main #ul-main{
    list-style-type:square;
}

#section-main #ul-main a{
    color:#222;
    font-size:1.29rem;
    font-family:Microsoft JhengHei;
    text-decoration:none;
    transition: all 1s linear;
}

#section-main #ul-main a:hover{
    text-decoration:underline;
    font-size:1.5rem;
    transition:color 3s , font-size 2s ,;
    -moz-transition:color 3s , font-size 2s;
    -webkit-transition:color 3s , font-size 2s;
    -o-transition:color 3s , font-size 2s; 
}

#section-main #ul-main li{
    margin-left:20px;
}

#p{
    font-size:2rem;
    font-family:fantasy;
    font-weight:bold;
    line-height:55px;
    margin-top:50px;
}

#footer-main #small-footer1{
    bottom:0;
    left:0;
    position:fixed;
    font-family:Microsoft JhengHei;
    font-weight:bold;
}

#footer-main #small-footer2{
    bottom:0;
    right:0;
    position:fixed;
    font-family:Microsoft JhengHei;
    font-weight:bold;
}